<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
</head>
<body>
    {{#if auth}}
        <form action="/user/logout" method="POST">
            <div>
                <input type="hidden" name="_csrf" id="_csrf" value="{{_csrf}}">
            </div>

            <input type="submit" value="Logout">
        </form>
    {{/if}}

    {{{body}}}    
</body>
</html>
