/* @import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@500&display=swap'); */

html,body{
    font-family:  'Quicksand', cursive;
    font-weight: bolder;
}
.monoton{
    font-family: 'Monoton', cursive;
    font-weight: normal;
}

.margin-top-nav{
    margin-top: 30px;
}
.btn{font-weight: 600;}
.bg-secondary-transparent{
    background-color: rgba(108, 117, 125, 0.75);
    backdrop-filter: blur(.3rem);
}

.line-clamp{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}
.line-clamp-3{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}
.ti-1{
    text-indent: 25px;
}
.ti-2{
    text-indent: 35px;
}
.user-icon{
    background: url('/files/user.svg') 2% center no-repeat;
}
.password-icon{
    background: url('/files/lock.svg') 2% center no-repeat;
}

@media screen and (min-width: 992px){
    .nav-item.dropdown:hover .dropdown-menu{
        display:block;
    }
    .dropdown-menu{
        display: none;
        opacity: 0;
        transform: translateY(-10px);
        transition: all .2s ease-in-out;
    }
    .dropdown-menu.show{
        opacity: 1;
        transform: translateY(0);
    }
}