<div class="container">
    <div class="row">
        <div class="col">
            
            <h2 class="margin-top-nav">Reset password</h2>
            <hr>
            {{#if errmsg}}            
                <p>{{errmsg}}</p>
            {{/if}}

            {{#if formmsg}}
                <p>{{formmsg}}</p>
            {{/if}}

            <form action="/user/resetpassword" method="POST">

                <input type="hidden" name="_csrf" id="_csrf" value="{{_csrf}}">

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" class="form-control" autofocus>
                </div>
                <div>
                    <input type="submit" value="Send Email reset link" class="btn btn-success">
                </div>
            </form>
        </div>
    </div>
</div>