<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="h2 mt-5">{{errorCode}} ... Something went wrong with the server</h1>
            <hr>
            
        </div>
    </div>
</div>