<h1>Welcome</h1>

<div>
    <h2>Cart</h2>
    <ul>
        {{#each items}}
            <li>{{this.productId.title}} - quantity: {{this.quantity}}
                <form action="/shop/remove-item" method="POST">
                    <input type="hidden" name="itemId" id="itemId" value="{{this._id}}">
                    <input type="submit" value="Remove item">
                </form>
            </li>
        {{/each}}
    </ul>
</div>